.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    display: grid;
    gap: 20px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media query para telas menores que 600 pixels (dispositivos móveis em modo retrato) */
@media screen and (max-width: 600px) {
    .form-group {
        grid-template-columns: 1fr; /* Altera para uma coluna para ocupar toda a largura */
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: calc(100% - 16px); /* Ajusta o tamanho para levar em conta o padding */
    }
    button {
        width: calc(100% - 20px); /* Ajusta o tamanho para levar em conta o padding */
    }
}
