@font-face {
    font-family: "Playfair Display";
    src: url('../assets/fonts/PlayfairDisplay.ttf');
}

body{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    height: 100dvh;
}

.rowElement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
