#about,
.divisorIcons {
    display: flex;
    flex-direction: row;
}

#about,
.resumeProfile,
.textAbout {
    justify-content: center;
    align-items: center;
}


.resumeProfile,
.textAbout {
    width: 40%;
    height: 80%;
    margin: 12px;
    padding: 23px;
    display: flex;
    flex-direction: column;
}

.divisorIcons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.divisorIcons a {
    color: black;
    margin: 5px;
}


.resumeProfile h1 {
    font-family: "Playfair Display";
    font-size: 50px;
    margin-bottom: 5px;
}

.resumeProfile h2 {
    font-family: Montserrat;
}

.imgDono {
    width: 300px;
}